body {
  position: relative;
}

.container {
  width: 1000px;
  margin: auto;
  font-size: 14px;
}

tr > th {
  background-color: #222;
  color: #fff;
  padding: 10px;
}

tr > td {
  padding: 10px;
  border-bottom: 1px solid #e8e8e8;
}

.tbody input, .tbody select {
  display: block;
  width: 100%;
  height: 40px;
}

.btn {
  background-color: #222;
  padding: 10px;
  min-width: 130px;
  color: #fff;
  height: 38px;
  font-size: 14px;
}

.table {
  position: relative;

  .add-row {
    float: left;
  }

  .add-column {
    position: absolute;
    left: 100%;
    top: 0;
  }
}

.modal {
  position: absolute;
  width: 600px;
  height: 600px;
  border: 1px solid #222;
  background-color: #fff;
  left: 0;
  right: 0;
  top: 20px;
  margin: auto;
  padding: 20px;
  input, select {
    margin-bottom: 20px;
    width: 100%;
    height: 38px;
    display: block;
  }

  .x {
    margin-bottom: 20px;
  }
}
